.body{
    margin: 30px 30px 0px 30px;

    h1{
        text-align: center;
        font-family: 'Anton', sans-serif;
        font-size: 4em;
    }
    .uk-grid{
        margin-left: 0px;
    }

    .resumen{
        margin: 30px;
    }

    .services{
        h2{
            font-family: 'Anton', sans-serif;
            font-size: 2.5em;
        }
        
        .service-group{
            
            .uk-width{
                .title{
                    h4{
                        font-family: 'Anton', sans-serif;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}