<div class="body uk-animation-slide-left uk-section-small">
  <h1>Acerca de mí</h1>
  <div class="about-list" uk-grid>
    <div class="uk-width-1-3@l uk-margin-remove">
      <h3><span class="" uk-icon="hashtag"></span>25 Años</h3>
    </div>
    <div class="uk-width-1-3@l uk-margin-remove">
      <h3><span class="" uk-icon="hashtag"></span>Ingeniero</h3>
    </div>
    <div class="uk-width-1-3@l uk-margin-remove">
      <h3><span class="" uk-icon="hashtag"></span>Colombia</h3>
    </div>
  </div>

  <div class="resumen">
    <p class="resumen-text">
      La formación, los conocimientos adquiridos en el área de Tecnología en
      Análisis y Desarrollo de Sistemas de Información, sumado a la práctica, me
      permiten participar activamente como desarrollador de sitios web.
      Conocimientos que tienen como objetivo respaldar una organización en el
      logro de sus objetivos. Nivel Básico de inglés e interés por la
      actualización profesional. Persona con calidad humana y responsabilidad en
      las labores encomendadas, demostrando siempre cumplimiento, seriedad y
      respeto ante los compromisos adquiridos. Capacidad de trabajo en equipo,
      adaptabilidad al cambio y al aprendizaje continuo. Persistencia, pro
      actividad y dedicación orientada a la obtención de resultados.
    </p>
  </div>
  <hr />
  <div class="services">
    <h2>Experiencia Laboral</h2>
    <div class="service-group" uk-grid>
      <div class="uk-width-1-2@l uk-width">
        <div class="icon"><span uk-icon="icon: laptop; ratio: 1.5"></span></div>
        <div class="title"><h4>Zona Segura</h4></div>
        <div class="text">
          <p>
            Instalador de cámaras de seguridad, instalación de sistemas radio
            enlace, instalación de televisión satelital
          </p>
        </div>
        <div class="text"><p>1 año laborando y actualmente</p></div>
        <div class="text"><p>Jefe inmediato: Brayan Alexander Nieto</p></div>
        <div class="text"><p>Telefono:3154739897</p></div>
        <div class="text"><p>Ibague - Tolima</p></div>
      </div>
      <div class="uk-width-1-2@l uk-width">
        <div class="icon"><span uk-icon="icon: laptop; ratio: 1.5"></span></div>
        <div class="title"><h4>Sealve Asistencias</h4></div>
        <div class="text"><p>Conductor Elegido</p></div>
        <div class="text"><p>Un año laborado</p></div>
        <div class="text"><p>Jefe inmediato: Jhonatan Velazques</p></div>
        <div class="text"><p>Teléfono: 3166992635</p></div>
      </div>
    </div>
  </div>
</div>
