<div class="body uk-animation-slide-left uk-section-small">
  <h1>Formación Académica</h1>
  <hr />
  <div class="services">
    <div class="service-group uk-grid">
      <div class="uk-width-1-1 width">
        <h2 class="title">
          <span uk-icon="icon: bookmark; ratio: 1.5"></span>Universidad
          Cooperativa
        </h2>
        <div class="text"><p>ingeniero de Sistemas</p></div>
        <div class="text"><p>Ibagué - Tolima (10° semestre)</p></div>
      </div>
      <div class="uk-width-1-1 width">
        <h2 class="title">
          <span uk-icon="icon: bookmark; ratio: 1.5"></span>Instituto Colombiano
          de Aprendizaje
        </h2>
        <div class="text"><p>Técnico en Sistemas</p></div>
        <div class="text"><p>Ibagué - Tolima (3° semestre)</p></div>
      </div>
      <div class="uk-width-1-1 width">
        <h2 class="title">
          <span uk-icon="icon: bookmark; ratio: 1.5"></span>Colegio Ingles
          americano
        </h2>
        <div class="text"><p>Estudios Secundarios</p></div>
        <div class="text"><p>Ibagué - Tolima (12° semestre)</p></div>
      </div>
      <div class="uk-width-1-1 width">
        <h2 class="title">
          <span uk-icon="icon: bookmark; ratio: 1.5"></span>Liceo
          Latinoamericano
        </h2>
        <div class="text"><p>Estudios Primarios</p></div>
        <div class="text"><p>Ibagué - Tolima (10° semestre)</p></div>
      </div>
    </div>
  </div>

  <hr />

  <div class="services">
    <div class="uk-grid">
      <div class="icon-title">
        <h2 class="title">
          <span uk-icon="icon: code; ratio: 1.5"></span>Habilidades
        </h2>
      </div>
    </div>
    <div class="service-group">
      <ul uk-accordion class="uk-container">
        <li class="uk-open">
          <p class="uk-accordion-title" href="#">Angular</p>
          <div class="uk-accordion-content">
            <div class="container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%">
                  70%
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="uk-accordion-title" href="#">HTML</p>
          <div class="uk-accordion-content">
            <div class="container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%">
                  90%
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="uk-accordion-title" href="#">Uikit 3</p>
          <div class="uk-accordion-content">
            <div class="container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%">
                  60%
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="uk-accordion-title" href="#">Angular Material</p>
          <div class="uk-accordion-content">
            <div class="container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%">
                  70%
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="uk-accordion-title" href="#">Firebase</p>
          <div class="uk-accordion-content">
            <div class="container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%">
                  60%
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="uk-accordion-title" href="#">GIT</p>
          <div class="uk-accordion-content">
            <div class="container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%">
                  80%
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <p class="uk-accordion-title" href="#">Bootstrap</p>
          <div class="uk-accordion-content">
            <div class="container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%">
                  70%
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
