<div class="body uk-animation-slide-left uk-section-small">
    <h1>Referencias Personales</h1>
    <div class="services">
      <div class="service-group uk-grid">
        <div class="uk-width-1-2@l uk-width">
          <div class="icon uk-padding uk-padding-remove-horizontal"><span uk-icon="icon: user; ratio: 2"></span></div>
          <div class="title"><h4>Jessica Stephania Martinez Patiño</h4></div>
          <div class="text"><p>Auxiliar integral de servicio</p></div>
          <div class="text"><p>Coasmedas Cooperativa de Ahorro y Credito</p></div>
          <div class="text"><p>3134557969</p></div>
        </div>
        <div class="uk-width-1-2@l uk-width">
          <div class="icon uk-padding uk-padding-remove-horizontal"><span uk-icon="icon: user; ratio: 2"></span></div>
          <div class="title"><h4>Brayan Alexander Nieto Muñoz</h4></div>
          <div class="text"><p>Tecnologo en Redes y Telecomunicaciones</p></div>
          <div class="text"><p>Zona Segura Connect</p></div>
          <div class="text"><p>3228021352</p></div>
        </div>
        <div class="uk-width-1-2@l uk-width">
          <div class="icon uk-padding uk-padding-remove-horizontal"><span uk-icon="icon: user; ratio: 2"></span></div>
          <div class="title"><h4>Nicolas Paiba</h4></div>
          <div class="text"><p>Tecnologo Agropecurio</p></div>
          <div class="text"><p>Banco Mundo Mujer</p></div>
          <div class="text"><p>3183758238</p></div>
        </div>
      </div>
    </div>
    
  </div>
  