<div class="uk-position-center full-width">
  <div uk-grid class="uk-padding-remove">
    <div class="uk-width-1-6@l uk-width-1-1 uk-background-primary uk-height-large menu uk-padding-remove">
      <div class=" uk-padding list" uk-grid>
        <div class="icons uk-width-1-1@m uk-width-1-6">
          <a
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class=""
            uk-icon="icon: user;"
          ></a>
        </div>
        <div class="icons uk-width-1-1@m uk-width-1-6">
          <a
            routerLink="/contacto"
            routerLinkActive="active"
            class=""
            uk-icon="icon: receiver;"
          ></a>
        </div>

        <div class="icons uk-width-1-1@m uk-width-1-6">
          <a
            routerLink="/informacion"
            routerLinkActive="active"
            class=""
            uk-icon="icon: users;"
          ></a>
        </div>
        <div class="icons uk-width-1-1@m uk-width-1-6">
          <a
            routerLink="/estudios"
            routerLinkActive="active"
            class=""
            uk-icon="icon: bookmark;"
          ></a>
        </div>
      </div>
    </div>
    <div class="uk-width-5-6@l uk-height-large uk-background-muted">
      <div uk-grid>
        <div class="image-content uk-width-1-3@m uk-background-secondary"></div>
        <div
          class="
            uk-width-2-3@m uk-height-large uk-overflow-auto
            body
            hide-scrollbar
          "
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
