.layout {
  .list {
    li {
      padding: 20px;

      a {
        text-decoration: none;
        float: left;

        &.active {
          color: #6e86ff;
        }

        mat-icon {
          float: left;
        }
      }
    }
  }
}


.image-content {
  position: relative;
  top: -10px;
  height: 479px;
  background-image: url(../../assets/img/fotoperfilfrontal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 32px 84px 0 rgb(0 0 0 / 50%);
}
.hide-scrollbar {
  background-color: #eee;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
